In [17]:
import requests
import pandas as pd

url = 'http://data.cityofnewyork.us/api/views/jb7j-dtam/rows.json'
results = requests.get(url).json() # reading in the json just as we did with our citibike info last week

In [18]:
results = requests.get(url).json() # reading in the json just as we did with our citibike info last week
# there are two main fields returned in the json, the meta that just describes the actual metadata, and the 
# data itself

df = pd.DataFrame(results["data"])
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,row-zhqc.aq5f-q2hq,00000000-0000-0000-C646-19DF72720A22,0,1569347052,None,1569347052,None,{ },Source: Bureau of Vital Statistics,New York City Department of Health and Mental ...,None,None,None,None,None
1,row-f4tm-m9pv_frpu,00000000-0000-0000-432C-42F931C0D571,0,1569347052,None,1569347052,None,{ },Rates based on small numbers (RSE > 30) as wel...,None,None,None,None,None,None
2,row-4tpb-vuy7.cseq,00000000-0000-0000-4862-51D34FAD53D3,0,1569347052,None,1569347052,None,{ },Data downloaded: 15MAY17:16:08,None,None,None,None,None,None
3,row-h6yk_msud.tc7w,00000000-0000-0000-ABAB-72295F298B23,0,1569347052,None,1569347052,None,{ },2014,All Other Causes,Male,Hispanic,1195,100.1,143.3
4,row-xbaq_va3r_kaks,00000000-0000-0000-A725-2BF8A800644F,0,1569347052,None,1569347052,None,{ },2014,Malignant Neoplasms (Cancer: C00-C97),Male,Asian and Pacific Islander,657,114.5,129.5

In [19]:
columns = results["meta"]["view"]["columns"] # this gives us the descriptions and names for the columns

headers = [i["fieldName"] for i in columns] # we create a list of the column names 

df = pd.DataFrame(results["data"], columns=headers) # now we pass in a list of those column names to our df

In [20]:
# hint

df.drop(labels = [':sid', ':position', ':meta', ':created_meta', ':updated_meta'], axis='columns', inplace=True)

In [21]:
# drop those first three rows as they appear to be metadata that for some reason were included in our df

df = df.drop([0,1,2],axis=0)

In [38]:
# leading cause of death in 2012 

df['year'] = pd.to_numeric(df["year"])

df2012 = df[df['year'] == 2012]

df2012['leading_cause'].describe()

count                                       134
unique                                       20
top       Malignant Neoplasms (Cancer: C00-C97)
freq                                         12
Name: leading_cause, dtype: object

In [39]:
# what race/ethnicity had the most recorded deaths in 2013? 

df["deaths"] = pd.to_numeric(df["deaths"], errors='coerce')

df2013 = df[df['year'] == 2013]

df2013.groupby(['race_ethnicity']).sum()

                            :created_at  :updated_at   year   deaths
race_ethnicity
Asian and Pacific Islander  34525635144  34525635144  44286   3651.0
Black Non-Hispanic          34525635144  34525635144  44286  13911.0
Hispanic                    34525635144  34525635144  44286   9672.0
Not Stated/Unknown          34525635144  34525635144  44286    906.0
Other Race/ Ethnicity       36094982196  36094982196  46299    356.0
White Non-Hispanic          34525635144  34525635144  44286  24891.0

In [51]:
# year with lowest age adjusted death rate 

df["age_adjusted_death_rate"] = pd.to_numeric(df["age_adjusted_death_rate"], errors='coerce')

df.groupby(['age_adjusted_death_rate'],sort=True).sum()

                         :created_at  :updated_at   year  deaths
age_adjusted_death_rate
2.5                       1569347052   1569347052   2013    15.0
2.9                       3138694104   3138694104   4023    33.0
3.0                       1569347052   1569347052   2008    14.0
3.1                       3138694104   3138694104   4019    35.0
3.2                       1569347052   1569347052   2007    13.0
3.3                       1569347052   1569347052   2008    13.0
3.5                       4708041156   4708041156   6023   213.0
3.6                       3138694104   3138694104   4016    32.0
3.7                       1569347052   1569347052   2011    21.0
3.9                       1569347052   1569347052   2007    22.0
4.0                       1569347052   1569347052   2010    18.0
4.1                       1569347052   1569347052   2012    20.0
4.2                       4708041156   4708041156   6037   160.0
4.3                       3138694104   3138694104   4022   129.0
4.5                       3138694104   3138694104   4019    82.0
4.6                       3138694104   3138694104   4021    72.0
4.7                       4708041156   4708041156   6037   201.0
4.9                       3138694104   3138694104   4021    77.0
5.0                       1569347052   1569347052   2013   135.0
5.1                       7846735260   7846735260  10054   340.0
5.2                       4708041156   4708041156   6035   145.0
5.3                       3138694104   3138694104   4023    87.0
5.4                       6277388208   6277388208   8052   183.0
5.5                       3138694104   3138694104   4015   135.0
5.7                       1569347052   1569347052   2011    70.0
5.8                       3138694104   3138694104   4026    61.0
5.9                       3138694104   3138694104   4015   306.0
6.1                       1569347052   1569347052   2011    88.0
6.2                       3138694104   3138694104   4017   119.0
6.3                       9416082312   9416082312  12062   270.0
...                              ...          ...    ...     ...
216.6                     1569347052   1569347052   2010  3408.0
220.4                     1569347052   1569347052   2008  1464.0
220.9                     1569347052   1569347052   2009  2535.0
224.1                     1569347052   1569347052   2010  1540.0
224.4                     1569347052   1569347052   2011  1590.0
226.2                     1569347052   1569347052   2009  6297.0
227.9                     1569347052   1569347052   2009  1382.0
228.0                     1569347052   1569347052   2008  1330.0
228.8                     1569347052   1569347052   2009  1557.0
229.4                     1569347052   1569347052   2007  1523.0
238.4                     3138694104   3138694104   4021  5317.0
243.6                     1569347052   1569347052   2008  2725.0
244.3                     1569347052   1569347052   2013  4085.0
245.5                     1569347052   1569347052   2008  6836.0
247.3                     1569347052   1569347052   2007  2722.0
250.7                     1569347052   1569347052   2007  7050.0
252.4                     1569347052   1569347052   2012  4156.0
258.5                     1569347052   1569347052   2013  1868.0
260.2                     1569347052   1569347052   2011  4220.0
264.7                     1569347052   1569347052   2014  1958.0
268.3                     1569347052   1569347052   2011  1840.0
277.0                     1569347052   1569347052   2010  4495.0
280.7                     1569347052   1569347052   2012  1940.0
307.7                     1569347052   1569347052   2010  2015.0
318.9                     1569347052   1569347052   2009  2068.0
319.8                     1569347052   1569347052   2009  5168.0
330.2                     1569347052   1569347052   2008  2077.0
340.2                     1569347052   1569347052   2007  2121.0
342.3                     1569347052   1569347052   2008  5503.0
350.7                     1569347052   1569347052   2007  5632.0

[426 rows x 4 columns]